
  
   <ion-header>
    <ion-toolbar    color="dark"  >
   
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title  align="center" > 
     Student Dashboard
        
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-header>
    
    
  
  </ion-header>
  <ion-nav color ="primary">
    <ion-title text-center>aibo</ion-title>
  </ion-nav>
  
  <ion-content>
    <section text-center>
      
      <h1 style="margin-left: auto;"> 
        Welcome  student
      </h1>
      <ion-icon id="first" name="Person"></ion-icon>
    </section>
    <ion-grid>
      <ion-row>
        <ion-col col=6>
          <ion-card text-center padding color="light">
            <ion-icon name="person"></ion-icon>
            <h2>Profile</h2>
          </ion-card>
        </ion-col>
  
        <ion-col col=6>
          <ion-card text-center padding color="light">
            <ion-icon name="home"></ion-icon>
            <h2>Home</h2>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col col=6>
          <ion-card text-center padding color="light">
            <ion-icon name="book"></ion-icon>
            <h2>view</h2>
          </ion-card>
        </ion-col>
  
        <ion-col col=6>
          <ion-card text-center padding color="light">
            <ion-icon name="settings"></ion-icon>
            <h2>Setting</h2>
          </ion-card>
        </ion-col>
      </ion-row>
  
    </ion-grid>

   
     
  <div class="push"></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


 
  
  <br>
  <br>
  <br>

  <ion-footer  class="ion-footer">
    <ion-toolbar color="dark" >
      <ion-title align="center" >2020 Off campus accomodation</ion-title>
    </ion-toolbar>
  </ion-footer>
     
    

 
  
    
  </ion-content>
  
  





