<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white;" align="center">{{ folder }} </ion-title>
  </ion-toolbar>
</ion-header>




<!--








<ion-card >
   
     
  
  </ion-card>








<ion-grid>
  <ion-row>
    <ion-col  md-size="3">
  <ion-card >
   
      <img src="tut1.jpg" width="1400px"  height="350px">
  
  </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>

-->

<ion-card>
  
</ion-card>



<ion-content >



  






<!--

<form class="center" >

  <ion-slides class="image-slider">
  

    


    <ion-slide  >
      <img src="3.png"  >
    </ion-slide>

    <ion-slide>
      <h1>Slide 2</h1>
      <img src="/assets/pics/2.png" width="100%">
    </ion-slide>

    <ion-slide>
      <h1>Slide 3</h1>
      
    </ion-slide>
  </ion-slides>
</form>
-->



<ion-grid >



 

  <ion-row ><br><br>
    <ion-col md-size="6">
    <ion-button style="width: 180px;height: 65px; text-align: center;">
         Arcadia campus<br><br><br>
    </ion-button><br><br>
  </ion-col>


  <ion-col  md-size="6">
    <ion-button style="width: 180px;height: 65px; text-align: center;">
         Pretoria campus<br><br><br>
    </ion-button><br><br>
  </ion-col>



  <ion-col  md-size="6">
    <ion-button style="width: 180px;height: 65px; text-align: center;">
         Ga-Rankuwa campus<br><br><br>
    </ion-button><br><br>
  </ion-col>


  <ion-col  md-size="6">
    <ion-button style="width: 180px;height: 65px; text-align: center;">
         Soshanguve campus<br><br><br>
    </ion-button><br><br>
  </ion-col>


  <ion-col  md-size="6">
    <ion-button style="width: 180px;height: 65px; text-align: center;">
        Emalahleni campus<br><br><br>
    </ion-button><br><br>
  </ion-col>


  <ion-col  md-size="6">
    <ion-button style="width: 180px;height: 65px; text-align: center;">
         Arts campus<br><br><br>
    </ion-button><br><br>
  </ion-col>


  <ion-col  md-size="6">
    <ion-button style="width: 180px;height: 65px; text-align: center;">
         Polokwane campus<br><br>
    </ion-button><br><br>
  </ion-col>



  <ion-col  md-size="6">
    <ion-button style="width:180px;height: 65px; text-align: center;">
         Mbombela campus<br><br>
    </ion-button><br><br>
  </ion-col>




                                </ion-row>
                                </ion-grid>

    
                                                 




                               







</ion-content>

